body{
  background-image: url("background1.jpg");
}
nav{
  background-color: black;
  padding-top: 2px;
}
p{
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: white;
}
button {
  background-color: white;
  color: black;
  padding: 75px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:10px;
}
.grid{
  margin-left:100px;
}
#restart{
float: right;
margin-right: 100px;
}
h4{
  color: white;
  padding-left: 100px;
}