
p{
  text-align: center;
}
button {
  background-color: white;
  color: black;
  padding: 75px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:10px;
}
.grid{
  margin-left:100px;
}
#restart{
float: right;
}